html {
    font-size: 16px;
    background-image: url("http://www.seekgif.com/uploads/technology-background-7.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;

}


    

section {
    padding: 0 0.25rem 3.5rem 0.25rem;
    display: inline-block;
    
}





img {
    width: 80%;
    margin-bottom: -1.875rem;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
    padding-bottom: 1.875rem;
    text-align: center;
    color: brown;
}

h2 {
    text-align: center;
    color: brown;
}

h3{
    text-align: center;
    color: brown;
}


p {
    font-size: 12px;
    color: white;
    padding-top: 1rem;
    
}




.grid-item {
    text-align: center;
    padding: 0.8983;
    margin-bottom: 0.8983rem;
    border-style: double;
    border-width: 5px;
    overflow: auto;
    
    
}




#grid-floats {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}




#grid-floats:after { 
    content: "sam";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}





#grid-floats .grid-item {
    height: 35rem;
    display: block;
    float: left;
}

/* animations */ 
.grid-item:hover {
    animation: bounce 1s;
}



@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}



#grid-flex {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


 

.grid-item:nth-child(1) {
    width: 45%;
    
}




.grid-item:nth-child(n+2) {
    width: 25%;
    
}




/* loptop screen*/
@media only screen and (min-width: 1100px) {
    #grid-floats .grid-item:nth-child(1) img {
      width: 80%;
    }
  }



  /* tablet screen */
  @media only screen and (max-width: 768px) {
    .grid-item:nth-child(2) {
      width: 50%;
    }
    .grid-item:nth-child(n+3) {
      width: 33%;
    }
  }



  /* mobile screen*/
  @media only screen and (max-width: 480px) {
    .grid-item:nth-child(1) {
      width: 100%;
    }
    .grid-item:nth-child(n+2) {
      width: 50%;
      height: 36.5rem;
    }
  }
 

